extends layout

block content
  p #{siteDescription}
  for post in posts
    p
     span#date #{post.cleanDate}
     | -
     span#title
       a(href='/blog/#{post.slug}')  #{post.title}
       br/
  p
   if((currentPage === 1) && (posts === 10))
     a(href='/page/2', id='more')  Older Entries
   if((currentPage === 2) && (posts === 10))
     a(href='/page/3', id='olderEnt') Older Entries
   if(currentPage === 2)
     a(href='/', id='newerEnt') Newer Entries
   if((currentPage > 2) && (posts === 10))
     a(href='/page/#{nextPage}', id='olderEnt') Older Entries
   if(currentPage > 2)
     a(href='/page/#{prevPage}', id='newerEnt') Newer Entries

