extends layout

block content
  h1 #{siteTitle}
  p Here's what I've been up to...
  for post in posts
    p
     span#postDate #{post.cleanDate}
     | -
     span#postTitle
       a(href='blog/#{post.postSlug}')  #{post.postName}
       br/
  p
   if(!currentPage)
     a(href='/page/2', id='more')  Older Entries
   if(currentPage === 2)
     a(href='/page/3', id='olderEnt') Older Entries
     a(href='/', id='newerEnt') Newer Entries   
   if(currentPage > 2)
     a(href='/page/#{nextPage}', id='olderEnt') Older Entries
     a(href='/page/#{prevPage}', id='newerEnt') Newer Entries
     
